*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body,html{
  background-image:
     
      linear-gradient(rgba(0, 0, 0, 0.7),
        rgba(42, 73, 55, 0.45)),
      url(./image/jason-leung-SAYzxuS1O3M-unsplash.jpg);

  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  min-width: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
  padding: 30px;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.App:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

select{
     max-height: 120px;
    overflow-y: auto;
}

/* Media query for screens with a width of 768px and smaller */
@media (max-width: 768px) {
  .App {
    min-width: auto;
    padding: 20px;
  }
}



@media (max-width: 576px) {
  .App {
    min-width: auto;
    padding: 15px;
  }
}


@media (max-width: 375px) {
  .App {
    padding: 10px;
  }
}




 
